<h1>Editing task</h1>

<%= render 'form' %>

<% if current_user.id == @task.project_master.user_id or current_user.has_role? :admin %>
<%= link_to 'Back', @project_master ,class:"btn btn-outline-success" %>
<%else%>
<%= link_to 'Back', home_path ,class:"btn btn-outline-success" %>
<%end%>
